[project]
	description = The fork of the Git powered FTP client that can 
[access "refs/*"]
	owner = group user/Melsi (Melsi)
[access "refs/for/refs/*"]
	read = group user/Melsi (Melsi)
	push = group user/Melsi (Melsi)
	label-Code-Review = -2..+2 group user/Melsi (Melsi)
	label-Verified = -1..+1 group user/Melsi (Melsi)
	rebase = group user/Melsi (Melsi)
	removeReviewer = group user/Melsi (Melsi)
	submit = group user/Melsi (Melsi)
[access "refs/heads/*"]
	read = group user/Melsi (Melsi)
	create = group user/Melsi (Melsi)
	push = +force group user/Melsi (Melsi)
	pushMerge = group user/Melsi (Melsi)
[access "refs/tags/*"]
	push = +force group user/Melsi (Melsi)
	pushTag = group user/Melsi (Melsi)
	pushSignedTag = group user/Melsi (Melsi)
